
  /* Normal desktop :1200px. */
@media(min-width: 1200px) {
    .custom-container  {
       max-width: 1200px;
       margin: 0 auto;
       box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    }
}
@media(max-width: 768px) {
    .news-order  {
      order: 5;
    }
}

@media(max-width: 796px) {
    .adadvertisement  {
      /* background-color: aqua; */
      min-height: 90px;
    min-width: 325px;

    }
}
