
body{
    background-color: rgb(222, 220, 220);
}
#primary-logo{
    height: 70px;
    width: 70px;
}
.version-title{
    border-radius: 0 10px 10px 0px;
    background-color: #B91920;
    text-decoration: none;

}
.version-title:hover{
    text-decoration: underline;
    color: goldenrod !important;
}

.adadvertisement{
    min-height: 90px;
    min-width: 726px;
    border: 2px solid gray;
}
.custom-bg-color{
    background-color: white;
}
.bg-blue{
    background-color: #363D4D;
}

.icon{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(214, 36, 36);
    text-align: center;
    padding-top: 8px;
}
.fa-youtube-square{
    color: #B91920;
}
#date{
    width: 50%;
    height: 30px;
}

.paginaction-item:hover{
    background-color: #B91920;
}